<html>

  <body>
    
    <h1>ようこそ <strong>Bookers</strong>  へ！</h1>
    <p><strong>Bookers</strong>  では、さまざまな書籍に関するあなたの意見や</p>
    <p>印象を共有し交換することができます</p>
    <p><a href="/books">start</a></p>

    <div id="UMS_TOOLTIP" style="position: absolute; cursor: pointer; z-index: 2147483647; background: transparent; top: -100000px; left: -100000px;"></div>

  </body>

    <umsdataelement id="UMSSendDataEventElement" data="https://bookers-level1.herokuapp.com/books/46309/edit" docguid="null"></umsdataelement>
    <div id="TAG_ID4TOOLBAR_UMS_GUID" style="display: none;">DABFAF39-95CB-C964-9C70-1D19D760ACAE</div>
    <div id="tmtoolbar_ums_injected" style="display: none;">init_ums</div>

</html>
 